header {
    font-size: 64px;
    text-align: center;
}
ul {
    list-style: none;
    font-size: 35px;
    margin: 0;
    padding: 0; 
    text-align: left;
}

.description {
    font-size: 20px;
    text-align: center;
    margin-right: 20px;
  }  

.content-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
  }